#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 35px 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 40px;
    font-weight: normal;
    text-align: left;
    margin: 0px;
    margin-bottom: 20px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 24px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    height: 40px;
}

.photograph-header {
    height: 313px;
    padding: 35px;
}

.photograph-header article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.photograph-header article > * {
    max-width: 200px;
}

.photograph-header .photograph__portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photograph-header .photograph__name {
    font-size: 42px;
    color: #D3573C;
    margin: 0px;
    margin-bottom: 5px;
}

.photograph-header .photograph__localisation {
    font-size: 24px;
    color: #901C1C;
    margin-bottom: 10px;
}

.photograph-header .photograph__tagline {
    font-size: 14px;
    color: #525252;
}

.photograph-medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    row-gap: 15px;
    margin: 0 100px;
    margin-bottom: 100px;
}

.photograph-medias .mediaImage .mediaImage-picture {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.photograph-medias .mediaImage .mediaImage-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photograph-medias .mediaImage .mediaImage-infos h2 {
    margin: 5px 0;
    font-size: 16px;
    color: #901C1C;
    font-weight: 500;
}

.photograph-medias .mediaImage .mediaImage-infos span {
    font-size: 16px;
    color: #901C1C;
    font-weight: 500;
}

.photograph-medias .mediaImage .mediaImage-infos i {
    color: #901C1C;
    margin-left: 5px;
    font-size: 16px;
}

#info_modal {
    position: fixed;
    bottom: 0px;
    right: 30px;
}

#info_modal .info_modal {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #DB8876;
    border-radius: 5px 5px 0px 0px;
    padding: 20px;
    font-size: 20px;
    width: 250px;
}

#info_modal .info_modal #likes_display span {
    margin-right: 5px;
    width: 45px;
}

#info_modal .info_modal #likes_display {
    width: 70px;
}

.sort_div {
    margin: 50px 100px;

}

.sort_div label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}

.sort_div select {
    background-color: #901C1C;
    color: white;
    border: 0px;
    padding: 10px;
    outline: none;
    border-radius: 2px;
}

.sort_div select option:hover {
    background-color: #901C1C;
}

#display_modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: none;
    padding: 20px 0;
}

#display_modal .content {
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#display_modal .content .left {
    display: flex;
    align-items: flex-end;
    padding: 0 20px;
    height: 40%;
    font-size: 25px;
    color: #901C1C;
}

#display_modal .content .right {
    display: flex;
    align-items: flex-end;
    padding: 0 20px;
    height: 40%;
    font-size: 25px;
    color: #901C1C;
}

#display_modal .content .right p {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    color: #901C1C;
}

#display_modal .content #content {
    height: 100%;
}

#display_modal .content #content .modal_media {
    height: 80%;
    max-width: 100%;
}

#display_modal .content #content {
    font-size: 20px;
    color: #901C1C;
}

.sort_div {
    display: flex;
    gap: 30px;
    align-items: center;
    height: 40px;
}

.sort_element {
    height: 100%;
    display: flex;
}

.sort_selector_text {
    background-color: #901C1C;
    color: white;
    padding: 15px;
    width: 120px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.sort_text {
    font-size: 18px;
    font-weight: bold;
}

.sort_selector {
    background-color: #901C1C;
    color: white;
    padding: 0 5px;
    width: 140px;
    flex-direction: column;
    position: absolute;
    border-radius: 5px;
    display: none;
    z-index: 999;
}

.sort_selector.show {
    display: flex;
}

.sort_selector p {
    padding: 10px;
    height: 20px;
}

.sort_selector p:not(:last-child) {
    border-bottom: 1px solid white;
}

#contact_modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: none;
    padding: 20px 0;
    z-index: 999;
}

#message {
    resize: none;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sort_selector_text, #popularity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}